<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Oracle</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<script>
        let clickCount = 0;

        function handleClick() {
            clickCount++;
            if (clickCount < 6) {
                document.getElementById("counter").textContent = `Click count: ${clickCount}/6`;
            } else {
                document.getElementById("oracleForm").submit();
            }
        }
    </script>
</head>
<body>
	<div class="login-container">
		<h2>Ask a yes/no question</h2>
		<p>Focus carefully on your question and click the button six
			times.</p>
		<p id="counter">Click count: 0/6</p>

		<form id="oracleForm" method="post"
			th:action="@{/prediction/generate}">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<button type="button" onclick="handleClick()">Click</button>
		</form>

		<form th:action="@{/logout}" method="post" style="margin-top: 20px;">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<button type="submit">Logout</button>
		</form>
	</div>
</body>
</html>
